<div><h2>Search For Restaurant</h2></div>

<form (ngSubmit)="handleSubmit()" [formGroup]="createForm">
  <select [(ngModel)]="price" formControlName="price" id="price">
    <option value="1" name="1">$</option>
    <option value="2" name="2">$$</option>
    <option value="3" name="3">$$$</option>
    <option value="4" name="4">$$$$</option>
  </select>
  <input
    [(ngModel)]="city"
    type="text"
    placeholder="City"
    formControlName="city"
    name="city"
  />
  <input
    [(ngModel)]="state"
    type="text"
    placeholder="State"
    formControlName="state"
    name="state"
  />
  <button type="submit">SEARCH</button>
</form>

<h3 class="title">Return APIData</h3>
<ul class="ul-wrapper">
  <!--
    <li *ngFor="let return of apiReturn.businesses">
    <div *ngIf="return.is_closed === false">
  -->
  <li *ngIf="randBusiness.is_closed === false">
    <div class="return-name">{{ randBusiness.name }}</div>
    <div class="return-image"><img src="{{ randBusiness.image_url }}" /></div>
    <ng-template [ngIf]="randBusiness.rating === 1"
      ><img src="../../assets/large_1.png"
    /></ng-template>
    <ng-template [ngIf]="randBusiness.rating === 1.5"
      ><img src="../../assets/large_1_half.png"
    /></ng-template>
    <ng-template [ngIf]="randBusiness.rating === 2"
      ><img src="../../assets/large_2.png"
    /></ng-template>
    <ng-template [ngIf]="randBusiness.rating === 2.5"
      ><img src="../../assets/large_2_half.png"
    /></ng-template>
    <ng-template [ngIf]="randBusiness.rating === 3"
      ><img src="../../assets/large_3.png"
    /></ng-template>
    <ng-template [ngIf]="randBusiness.rating === 3.5"
      ><img src="../../assets/large_3_half.png"
    /></ng-template>
    <ng-template [ngIf]="randBusiness.rating === 4"
      ><img src="../../assets/large_4.png"
    /></ng-template>
    <ng-template [ngIf]="randBusiness.rating === 4.5"
      ><img src="../../assets/large_4_half.png"
    /></ng-template>
    <ng-template [ngIf]="randBusiness.rating === 5"
      ><img src="../../assets/large_5.png"
    /></ng-template>
    <!-- <div class="return-rating">{{ randBusiness.rating }}</div> -->
    <div class="return-address">
      {{ randBusiness.location.display_address }}
    </div>
    <div class="return-phone">{{ randBusiness.phone }}</div>
    <div class="return-delivery">Delivery Available: {{ delivery }}</div>
  </li>
</ul>
